body{
    background: linear-gradient(powderblue , lightgreen);
    background-size: cover;
    background-attachment: fixed;
    margin: 0;

}
#header {
color: rgb(224, 210, 210);
font-size: 30px;
font-style: italic;
font-weight: 10px;
background-color: #101114;
text-align: center;
padding: 15px;
padding-top: 15px;
}
.para p{
    text-align: right;
    font-weight: bold;
    font-weight: 90px;
    padding-right: 230px;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.flex-layout{
    background: rgb(31, 31, 110);
    padding: 10px;
    display: flex;
    gap: 10px;
    justify-content: space-between;
    flex-wrap: wrap;

}
.box{
    background: rgb(151, 22, 22);
    padding: 50px;
    border:2px solid #d4d8e2;
}
.h1:hower{
    font-size: large;
}